# DX 704 Week 1 Project

This week's project will build a portfolio risk and return model, and make investing recommendations for hypothetical clients.
You will collect historical data, estimate returns and risks, construct efficient frontier portfolios, and sanity check the certainty of the maximum return portfolio.

The full project description and a template notebook are available on GitHub at the following link.

https://github.com/bu-cds-dx704/dx704-project-01

Feel free to use optimization tools or libraries (such as CVXOPT or scipy.optimize) to perform any calculations required for this mini project.

### Example Code

You may find it helpful to refer to these GitHub repositories of Jupyter notebooks for example code.

* https://github.com/bu-cds-omds/dx601-examples
* https://github.com/bu-cds-omds/dx602-examples
* https://github.com/bu-cds-omds/dx603-examples
* https://github.com/bu-cds-omds/dx704-examples

Any calculations demonstrated in code examples or videos may be found in these notebooks, and you are allowed to copy this example code in your homework answers.

## Part 1: Collect Data

Collect historical monthly price data for the last 24 months covering 6 different stocks.
The data should cover 24 consecutive months including the last month that ended before this week's material was released on Blackboard.
To be clear, if a month ends between the Blackboard release and submitting your project, you do not need to add that month.

The six different stocks must include AAPL, SPY and TSLA.
At least one of the remaining 3 tickers must start with the same letter as your last name (e.g. professor Considine could use COIN).
This is to encourage diversity in what stocks you analyze; if you discuss this project with classmates, please make sure that you pick different tickers to differentiate your work.
Do not pick stocks with fewer than 24 consecutive months of price data.

In [1]:
# YOUR CHANGES HERE

import cvxpy as cp
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import yfinance as yf

tickers = ["AAPL", "SPY", "TSLA", "FNMA", "FIGR.PVT", "F"]

historical_prices = None

for t in tickers:
    ticker = yf.Ticker(t)
    history =  ticker.history(period="2y")

    monthly_prices = history['Close'].resample('ME').last()

    if historical_prices is None:
        historical_prices = monthly_prices
    else:
        historical_prices = pd.concat([historical_prices, monthly_prices], axis=1)

historical_prices.columns = tickers
historical_prices.index = pd.to_datetime(historical_prices.index).strftime("%Y-%m-%d")
historical_prices = historical_prices.iloc[1:]

historical_prices

                  AAPL         SPY        TSLA   FNMA    FIGR.PVT          F
Date
2023-10-31  169.113556  408.794342  200.839996   0.75    3.000000   8.581727
2023-11-30  188.355316  446.135223  240.080002   0.74    3.000000   9.030617
2023-12-31  190.913651  466.503662  248.479996   1.07    3.000000  10.729359
2024-01-31  182.851913  473.933411  187.289993   1.26    3.000000  10.315675
2024-02-29  179.461258  498.666504  201.880005   1.27   13.220000  11.244849
2024-03-31  170.257339  514.973816  175.789993   1.57   13.220000  12.004146
2024-04-30  169.115570  494.210358  183.279999   1.47   13.220000  10.982710
2024-05-31  191.138168  519.207397  178.080002   1.55   13.220000  11.097805
2024-06-30  209.401917  537.525024  197.880005   1.43   13.220000  11.472918
2024-07-31  220.795654  544.033997  232.070007   1.28   13.250000   9.899280
2024-08-31  227.939163  556.745667  214.110001   1.20   13.250000  10.397261
2024-09-30  231.920639  568.439941  261.630005   1.18   13.270000   9.811893
2024-10-31  224.863495  563.367371  249.850006   1.39   13.270000   9.561020
2024-11-30  236.490479  596.962891  345.160004   3.13   13.950000  10.482021
2024-12-31  249.534180  582.599915  403.839996   3.28   15.640000   9.323630
2025-01-31  235.165192  598.246399  404.600006   5.49   17.100000   9.493152
2025-02-28  241.249481  590.651794  292.980011   6.40  190.240005   9.287930
2025-03-31  221.587616  557.741150  259.160004   6.32  194.000000   9.754758
2025-04-30  211.981125  552.905457  282.160004   6.31  194.000000   9.735307
2025-05-31  200.622314  587.652771  346.459991  10.53  194.000000  10.242455
2025-06-30  204.937408  617.849976  317.660004   9.54  174.000000  10.706228
2025-07-31  207.334702  632.080017  308.269989   8.02  174.000000  10.923312
2025-08-31  232.139999  645.049988  333.869995  11.29  174.000000  11.770000
2025-09-30  238.470001  643.739990  334.089996  11.95  174.000000  11.620000

Save the data as a TSV file named "historical_prices.tsv" and include a header row with the column names "date" and the 6 stock ticker symbols.
The date should be the last trading day of the month, so it may not be the last day of the month.
For example, the last trading day of November 2024 was 2024-11-29.
The remaining columns should contain the adjusted closing prices of the corresponding stock tickers on that day.

In [2]:
# YOUR CHANGES HERE

# Save historical_prices as a TSV file
historical_prices_tsv = historical_prices.reset_index().rename(columns={'Date': 'date'})
historical_prices_tsv.to_csv('historical_prices.tsv', sep="\t", index=False)

Submit "historical_prices.tsv" in Gradescope.

## Part 2: Calculate Historical Asset Returns

Calculate the historical asset returns based on the price data that you previously collected.

In [3]:
# YOUR CHANGES HERE

historical_returns = historical_prices.pct_change().dropna().reset_index().rename(columns={'Date': 'date'})
historical_returns

          date      AAPL       SPY      TSLA      FNMA   FIGR.PVT         F
0   2023-11-30  0.113780  0.091344  0.195379 -0.013333   0.000000  0.052308
1   2023-12-31  0.013582  0.045655  0.034988  0.445946   0.000000  0.188109
2   2024-01-31 -0.042227  0.015926 -0.246257  0.177570   0.000000 -0.038556
3   2024-02-29 -0.018543  0.052187  0.077901  0.007937   3.406667  0.090074
4   2024-03-31 -0.051286  0.032702 -0.129235  0.236221   0.000000  0.067524
5   2024-04-30 -0.006706 -0.040319  0.042608 -0.063694   0.000000 -0.085090
6   2024-05-31  0.130222  0.050580 -0.028372  0.054422   0.000000  0.010480
7   2024-06-30  0.095553  0.035280  0.111186 -0.077419   0.000000  0.033801
8   2024-07-31  0.054411  0.012109  0.172781 -0.104895   0.002269 -0.137161
9   2024-08-31  0.032353  0.023366 -0.077390 -0.062500   0.000000  0.050305
10  2024-09-30  0.017467  0.021005  0.221942 -0.016667   0.001509 -0.056300
11  2024-10-31 -0.030429 -0.008924 -0.045025  0.177966   0.000000 -0.025568
12  2024-11-30  0.051707  0.059633  0.381469  1.251799   0.051243  0.096329
13  2024-12-31  0.055155 -0.024060  0.170008  0.047923   0.121147 -0.110512
14  2025-01-31 -0.057583  0.026856  0.001882  0.673780   0.093350  0.018182
15  2025-02-28  0.025872 -0.012695 -0.275877  0.165756  10.125146 -0.021618
16  2025-03-31 -0.081500 -0.055719 -0.115435 -0.012500   0.019764  0.050262
17  2025-04-30 -0.043353 -0.008670  0.088748 -0.001582   0.000000 -0.001994
18  2025-05-31 -0.053584  0.062845  0.227885  0.668780   0.000000  0.052094
19  2025-06-30  0.021509  0.051386 -0.083126 -0.094017  -0.103093  0.045279
20  2025-07-31  0.011698  0.023032 -0.029560 -0.159329   0.000000  0.020276
21  2025-08-31  0.119639  0.020520  0.083044  0.407731   0.000000  0.077512
22  2025-09-30  0.027268 -0.002031  0.000659  0.058459   0.000000 -0.012744

Save the data as a TSV file named "historical_returns.tsv" and include a header row with the column names "date" and the 6 stock ticker symbols.
Each row should have the date at the end of the month and the corresponding *relative* price changes.
For example, if the previous price was \$100 and the new price is \$110, the return value should be 0.10.
There should only be 23 rows of data in this file, since they are computed as the differences of 24 prices.

In [4]:
# YOUR CHANGES HERE
# historical_returns_tsv = historical_returns.reset_index().rename(columns={'Date': 'date'})
historical_returns.to_csv('historical_returns.tsv', sep="\t", index=False)

Submit "historical_returns.tsv" in Gradescope.

## Part 3: Estimate Returns

Estimate the expected returns for each asset using the previously calculated return data.
Just compute the average (mean) return for each asset over your data set; do not use other estimators that have been mentioned.
This will serve as your estimate of expected return for each asset.

In [5]:
historical_returns.columns

Index(['date', 'AAPL', 'SPY', 'TSLA', 'FNMA', 'FIGR.PVT', 'F'], dtype='object')

In [6]:
# YOUR CHANGES HERE

# estimated_returns = pd.DataFrame({'asset': historical_returns.columns, 'estimated_return': historical_returns.mean()})
estimated_returns = historical_returns.drop('date', axis=1).mean().reset_index().rename(columns={'index': 'asset', 0: 'estimated_return'})
# estimated_returns = estimated_returns.reset_index(drop=True)
estimated_returns

      asset  estimated_return
0      AAPL          0.016739
1       SPY          0.020522
2      TSLA          0.033922
3      FNMA          0.163841
4  FIGR.PVT          0.596435
5         F          0.015782

Save the estimated returns in a TSV file named "estimated_returns.tsv" and include a header row with the column names "asset" and "estimated_return".

In [7]:
# YOUR CHANGES HERE

estimated_returns.to_csv("estimated_returns.tsv", sep="\t", index=False)

Submit "estimated_returns.tsv" in Gradescope.

## Part 4: Estimate Risk

Estimate the covariance matrix for the asset returns to understand how the assets move together.

In [8]:
# YOUR CHANGES HERE

estimated_covariance = historical_returns.drop('date', axis=1).cov()
estimated_covariance

              AAPL       SPY      TSLA      FNMA  FIGR.PVT         F
AAPL      0.003617  0.000786  0.003047 -0.002137 -0.001389 -0.000061
SPY       0.000786  0.001235  0.002019  0.003758 -0.010726  0.001363
TSLA      0.003047  0.002019  0.024400  0.018864 -0.133906  0.000231
FNMA     -0.002137  0.003758  0.018864  0.110498 -0.018191  0.010276
FIGR.PVT -0.001389 -0.010726 -0.133906 -0.018191  4.817232 -0.006334
F        -0.000061  0.001363  0.000231  0.010276 -0.006334  0.005290

Save the estimated covariances to a TSV file named "estimated_covariance.tsv".
The header row should have a blank column name followed by the names of the assets.
Each data row should start with the name of an asset for that row, and be followed by the individual covariances corresponding to that row and column's assets.
(This is the format of pandas's `to_csv` method with `sep="\t"` when used on a covariance matrix as computed in the examples.)

In [9]:
# YOUR CHANGES HERE

estimated_covariance.to_csv("estimated_covariance.tsv", sep="\t")

Submit "estimated_covariance.tsv" in Gradescope.

## Part 5: Construct the Maximum Return Portfolio

Compute the maximum return portfolio based on your previously estimated risks and returns.

In [10]:
# YOUR CHANGES HERE

# Expected returns vector:
mu_max = estimated_returns['estimated_return'].to_numpy()
assets = estimated_returns['asset'].to_numpy()

n_max = len(mu_max)
x_max = cp.Variable(n_max)

# Maximum return
max_objective = cp.Maximize(mu_max @ x_max)
max_constraints = [x_max >= 0, cp.sum(x_max) == 1]
max_prob = cp.Problem(max_objective, max_constraints)
max_prob.solve()

# Segment into two columns
maximum_return = pd.DataFrame({'asset': estimated_returns['asset'].values, 'allocation': x_max.value})
maximum_return

      asset    allocation
0      AAPL -4.038278e-11
1       SPY -4.136696e-11
2      TSLA -4.507091e-11
3      FNMA -1.083087e-10
4  FIGR.PVT  1.000000e+00
5         F -4.013785e-11

Save the maximum return portfolio in a TSV file named "maximum_return.tsv".
The header row should have two columns, "asset" and "allocation".
The allocation values should sum up to one.

In [11]:
# YOUR CHANGES HERE

maximum_return.to_csv("maximum_return.tsv", sep="\t", index=False)

Submit "maximum_return.tsv" in Gradescope.

## Part 6: Construct the Minimum Risk Portfolio

Compute the minimum return portfolio based on your previously estimated risks and returns.

In [12]:
# YOUR CHANGES HERE

# Expected returns vector:
mu_min = estimated_returns['estimated_return'].to_numpy()
assets = estimated_returns['asset'].to_numpy()

n_min = len(mu_min)
x_min = cp.Variable(n_min)

# Minimum return
min_objective = cp.Minimize(x_min.T @ estimated_covariance.to_numpy() @ x_min)
min_constraints = [x_min >= 0, cp.sum(x_min) == 1]
min_prob = cp.Problem(min_objective, min_constraints)
min_prob.solve()

# Segment into two columns
minimum_return = pd.DataFrame({'asset': estimated_returns['asset'].values, 'allocation': x_min.value})
minimum_return

      asset    allocation
0      AAPL  1.304667e-01
1       SPY  8.673258e-01
2      TSLA  1.191498e-21
3      FNMA -1.490187e-19
4  FIGR.PVT  2.207497e-03
5         F -5.511425e-20

Save the minimum risk portfolio in a TSV file named "minimum_risk.tsv".
The header row should have two columns, "asset" and "allocation".
The allocation values should sum up to one.

In [13]:
# YOUR CHANGES HERE

minimum_return.to_csv("minimum_risk.tsv", sep="\t", index=False)

Submit "minimum_risk.tsv" in Gradescope.

## Part 7: Build Efficient Frontier Portfolios

Compute 101 portfolios along the mean-variance efficient frontier with evenly spaced estimated returns.
The first portfolio should be the minimum risk portfolio from part 4, and the last portfolio should be the maximum return portfolio from part 3.
The estimated return of each portfolio should be higher than the previous by one percent of the difference between the first and last portfolios.
That is, the estimated return of the portfolios should be similar to `np.linspace(min_risk_return, max_return, 101)`.

In [49]:
estimated_returns.columns

Index(['asset', 'estimated_return'], dtype='object')

In [59]:
# YOUR CHANGES HERE

# Convert the assets to a list
ef_assets = estimated_returns['asset'].tolist()

# Returns vector
returns = estimated_returns['estimated_return'].astype(float).to_numpy()

# Align covariance to the proper order
sigma = estimated_covariance.loc[ef_assets, ef_assets].to_numpy()

n = len(returns)

# Scalars for min and max returns
estimated_return_minimum_risk = float(x_min.value.T @ returns)
estimated_return_maximum_risk = float(returns.max())

# efficient frontier
ef_variances, ef_returns, ef_portfolios = [], [], []

for r in np.linspace(estimated_return_minimum_risk, estimated_return_maximum_risk, 101):
    # create variables to optimize
    x_r = cp.Variable(n)

    # formulate linear program
    prob_r = cp.Problem(cp.Minimize(x_r.T @ sigma @ x_r),
                        [0 <= x_r,
                         cp.sum(x_r) == 1,
                         x_r.T @ returns == r])
    variance_opt = prob_r.solve()
    ef_variances.append(variance_opt)
    ef_returns.append(r)
    # Force a shape of 6
    ef_portfolios.append(np.asarray(x_r.value, dtype=float).ravel())

# Calculate the standard deviation using the variance
ef_stds = np.sqrt(np.asarray(ef_variances, dtype=float))

# Set the weights
ef_weights = np.vstack(ef_portfolios)

# Setup the efficient frontier
efficient_frontier = pd.DataFrame(ef_weights, columns=ef_assets)
efficient_frontier.insert(0, "risk", ef_stds)
efficient_frontier.insert(0, "return", np.asarray(ef_returns, dtype=float))
efficient_frontier.insert(0, "index", np.arange(len(ef_returns), dtype=int))

efficient_frontier = efficient_frontier[['index', 'return', 'risk'] + ef_assets]
efficient_frontier

,index,return,risk,AAPL,SPY,TSLA,FNMA,FIGR.PVT,F
0,0,0.021300,0.033913,1.304667e-01,8.673258e-01,-3.303285e-20,-2.736599e-19,0.002207,-3.845830e-20
1,1,0.027051,0.037032,1.257006e-01,8.432861e-01,3.842367e-20,2.509591e-02,0.005917,-6.871355e-20
2,2,0.032803,0.042965,1.440490e-01,7.920186e-01,3.468758e-20,5.546568e-02,0.008467,-6.203236e-20
3,3,0.038554,0.050637,1.570868e-01,7.409737e-01,6.269049e-03,8.450381e-02,0.011167,-4.969509e-20
4,4,0.044305,0.059360,1.674462e-01,6.900410e-01,1.569979e-02,1.128704e-01,0.013943,-4.430193e-20
...,...,...,...,...,...,...,...,...,...
96,96,0.573430,2.077733,-4.855346e-22,-8.860657e-22,-2.909790e-22,5.318018e-02,0.946820,-1.356894e-21
97,97,0.579181,2.106990,-1.817528e-21,-1.748315e-21,-1.406176e-21,3.988513e-02,0.960115,-1.781711e-21
98,98,0.584932,2.136257,-1.859245e-21,-1.795220e-21,-1.510443e-21,2.659009e-02,0.973410,-1.835065e-21
99,99,0.590684,2.165534,-4.288454e-23,-4.366576e-22,-2.220005e-22,1.329504e-02,0.986705,-4.576610e-22
100,100,0.596435,2.194819,-1.037645e-06,9.709716e-08,2.109359e-06,-3.780137e-07,1.000000,-7.998571e-07

Save the portfolios in a TSV file named "efficient_frontier.tsv".
The header row should have columns "index", "return", "risk", and all the asset tickers.
Each data row should have the portfolio index (0-100), the estimated return of the portfolio, the estimated standard deviation (not variance) of the portfolio, and all the asset allocations (which should sum to one).

In [61]:
# YOUR CHANGES HERE

efficient_frontier.to_csv("efficient_frontier.tsv", sep="\t", index=False)

Submit "efficient_frontier.tsv" in Gradescope.

## Part 8: Check Maximum Return Portfolio Stability

Check the stability of the maximum return portfolio by resampling the estimated risk/return model.

Repeat 1000 times -
1. Use `np.random.multivariate_normal` to generate 23 return samples using your previously estimated risks and returns.
2. Estimate the return of each asset using that resampled return history.
3. Check which asset had the highest return in those resampled estimates.

This procedure is a reduced and simplified version of the Michaud resampled efficient frontier procedure that takes uncertainty in the risk model into account.

In [46]:
# YOUR CHANGES HERE

...

Ellipsis

Save a file "max_return_probabilities.tsv" with the distribution of highest return assets.
The header row should have columns "asset" and "probability".
There should be a data row for each asset and its sample probability of having the highest return based on those 1000 resampled estimates.

In [47]:
# YOUR CHANGES HERE

...

Ellipsis

Submit "max_return_probabilities.tsv" in Gradescope.

## Part 9: Acknowledgments

Make a file "acknowledgments.txt" documenting any outside sources or help on this project.
If you discussed this assignment with anyone, please acknowledge them here.
If you used any libraries not mentioned in this module's content, please list them with a brief explanation what you used them for.
If you used any generative AI tools, please add links to your transcripts below, and any other information that you feel is necessary to comply with the generative AI policy.
If no acknowledgements are appropriate, just write none in the file.

Submit "acknowledgements.txt" in Gradescope.

## Part 10: Code

Please submit a Jupyter notebook that can reproduce all your calculations and recreate the previously submitted files.
You do not need to provide code for data collection if you did that by manually.

Submit "project.ipynb" in Gradescope.